
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">メンバー募集をするためのサイトです</h1>
      <p class="lead text-muted">ここには説明が入ります</p>
      <p>
      <% if user_signed_in? %>
        <%=link_to "新規作成", new_want_path, class:"btn btn-primary my-2"%>
        <%=link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-primary my-2"%>
      <% else %>
        <%=link_to "新規登録", new_user_registration_path, class:"btn btn-primary my-2"%>
        <%=link_to "ログイン", new_user_session_path, class:"btn btn-primary my-2"%>
      <% end %>
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @wants.each do |want|%>
        <li class="list-unstyled col">
          <%=link_to want_path(want) do %>
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                  <%= want.title %>
                </text>
              </svg>
          <% end %>
              <div class="card-body">
                <div class="card-text">
                  <%= want.text %>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to "進む", want_path(want), class:"btn btn-sm btn-outline-secondary" %>
                    <%= link_to "編集", edit_want_path(want), class:"btn btn-sm btn-outline-secondary" %>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
        </li>
      <% end %>
    </div>
  </div>
</div>
