<style>
  .card { 
    height:100vh;
    background: url('/images/sesstion-img2.jpg') center no-repeat ; 
    background-size: cover;
  }
</style>

<div class="card">
  <div class="col-sm-8 col-md-8 col-lg-5 mx-auto mt-5 ">
    <div class="card-body text-light">
      <h3 class="mt-1 mb-3">アカウントを作成</h3>
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", model: f.object %>
      <div class="form-group">
        <%= f.label :email, "メールアドレス", :class => "form-label" %>
        <%= f.email_field :email, autocomplete: "email", :class => "form-control" %>
      </div>
  
      <div class="form-group">
        <%= f.label :password, "パスワード (英数６文字以上)", :class => "form-label" %>
        <%= f.password_field :password, :class => "form-control" %>
      </div>
  
      <div class="form-group">
        <%= f.label :password_confirmation, "もう一度パスワードを入力してください", :class => "form-label" %>
        <%= f.password_field :password_confirmation, :class => "form-control" %>
      </div>
  
      <div class="form-group">
        <%= f.label :nickname, "ニックネーム", :class => "form-label" %>
        <%= f.text_field :nickname, :class => "form-control" %>
      </div>
  
      <div class="form-group">
        <%= f.label :prefecture_id, "お住まいの都道府県", :class => "form-label" %>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"form-control"}) %>

      </div>
  
      <div class="form-group">
        <%= f.label :area, "活動予定地域", :class => "form-label" %>
        <%= f.text_field :area, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :age, "年齢", :class => "form-label" %>
        <%= f.number_field :age, :class => "form-control" %>
      </div>
  
      <div class="form-group">
        <%= f.label :part, "担当パート", :class => "form-label" %>
        <%= f.text_field :part, :class => "form-control" %>
      </div>
  
      <div class="form-group">
        <%= f.label :my_hero, "好きなアーティスト", :class => "form-label" %>
        <%= f.text_field :my_hero, :class => "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "アカウントを作成する", :class => "btn btn-dark btn-block" %>
      </div>
      <% end %>
      <div class="mt-2">
        すでにアカウントをお持ちですか？<%= link_to "ログイン", new_user_session_path %>
      </div>
    </div>
  </div>
</div>