<div class="card col-sm-6 mx-auto mt-5">
  <div class="card-body">
    <h3 class="mt-1 mb-3">応募内容入力フォーム</h3>
    <%= form_with model: @entry, url: want_entries_path, local: true do |f| %>
    <%= render "devise/shared/error_messages", model: f.object %>
   
    <div class="form-group">
      <%= f.label :text, "紹介文", :class => "form-label" %>
      <%= f.text_area :text, :class => "form-control" %>
    </div>
 
    <div class="actions">
      <%= f.submit "応募する", :class => "btn btn-primary btn-block" %>
    </div>
    <% end %>
  </div>
</div>