<div class="card col-sm-6 mx-auto mt-5">
  <div class="card-body">
    <h3 class="mt-1 mb-3">アカウントを作成</h3>
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
    <%#= render "devise/shared/error_messages", resource: resource %>
 
    <div class="form-group">
      <%= f.label :email, "メールアドレス", :class => "form-label" %>
      <%= f.email_field :email, autocomplete: "email", :class => "form-control" %>
    </div>
  
     <div class="form-group">
      <%= f.label :nickname, "ニックネーム", :class => "form-label" %>
      <%= f.text_field :nickname, :class => "form-control" %>
    </div>
 
    <div class="form-group">
      <%= f.label :prefecture_id, "お住まいの都道府県", :class => "form-label" %>
      <%= f.number_field :prefecture_id, :class => "form-control" %>
    </div>
 
    <div class="form-group">
      <%= f.label :area, "活動予定地域", :class => "form-label" %>
      <%= f.text_field :area, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :age, "年齢", :class => "form-label" %>
      <%= f.number_field :age, :class => "form-control" %>
    </div>
 
    <div class="form-group">
      <%= f.label :part, "担当パート", :class => "form-label" %>
      <%= f.text_field :part, :class => "form-control" %>
    </div>
 
    <div class="form-group">
      <%= f.label :my_hero, "好きなアーティスト", :class => "form-label" %>
      <%= f.text_field :my_hero, :class => "form-control" %>
    </div>

    <% end %>
  </div>
</div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="border-bottom pb-2 mb-0">
      <%= link_to "エントリー" %>
    </div>
    <div class="d-flex text-muted pt-3">

      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark d-block">
            <%#= @entries.user.nickname %>
          </strong>
          <%= link_to "詳細" %>
        </div>
        <%#= @entries.text%>
      </div>
    </div>
  </div>
